<div class="body">
  <h1>About Us</h1>
  <p>Hello there! Welcome to Poke Tracker, a way to aggregate data from the Pokemon Go world for players. We thought it'd be cool if we could get players together to share their experience and knowledge to help educate everyone and inform everyone. While there is no easy way to get all the information about all the different gyms, pokestops, and spawns in Pokemon Go, we think that with everyone's help we can create this project.
  <p>We are currently just two dudes looking to bring everyone together for a common cause. We will be continually upgrading and changing things so feel free to leave us a message or contact us if you run into any issues or if you just want to let us know how you feel. Please be courteous to your other Pokemon Go players and work together! Happy hunting!</p>
</div>