<div class="body">
  <h1>Donate</h1>
  <p>Hey there! I see you've come to the donate page. Maybe it was an accident. Maybe you did it on purpose. Either way, thanks for using our app and contributing to the community. We really appreciate everything you do.</p>
  <p>If you'd like to help pay for the servers that keep this running, please click the button below. If you can't donate or don't want to, don't worry about it. Please just enjoy using our little application!</p>
  <%= button_to "Donate", "http://paypal.me/poketracker", method: :get %>
</div>
