<div class="body">
  <p>Vote for your team on here and we'll change the color scheme to promote the winning team! Updates to color scheme probably will be done daily, if we remember!</p>
  <iframe src="http://www.strawpoll.me/embed_1/10750216" style="width:600px;height:390px;border:0;">Loading poll...</iframe>
</div>
