<div class="body">
  <h1>Drop Us a Line</h1>
  <p>Leave us a message or complain about something. Suggest a new feature and we might implement it!</p>

  <%= render 'form' %>

  <%= link_to 'Back', contact_forms_path %>
</div>
